<div class="comment">
  <div class="info">
    <span><b>User: </b><%= comment.user.name %></span>
    <span class="date"><b>Post date: </b><%= comment.created_at %></span>
  </div>
  <div class="text">
    <%= comment.text %>
  </div>
</div>
