<h3>Comments</h3>

<div id="tree">
  <%= render partial: 'tree', locals: { comments: product.comments } %>
</div>

<% if can? :create, Comment %>
  <div id="add_comment">
    <h3>
      <%= link_to 'Add comment', new_product_comment_path(product),
        onclick: "comment_show_reply_form(null); return false" %>
    </h3>
    <div id="comments_form">
      <%= render 'comments/form' %>
    </div>
  </div>
<% end %>
